@{
}
@model BookListViewModel

<!--Table to dynamically display all the information in the bookstoredb-->
<table class="table table-striped">

    <tr class="thead-dark">
        <th>Book ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Classification/Category</th>
        <th>Number of Pages</th>
        <th>Price</th>
        <th></th>
    </tr>

    <tbody>
        @foreach (var x in Model.Books)
        {
            <partial name="BookSummary" model="x" />
        }
    </tbody>
</table>

<!--dynamically create the page information and page advancement -->
<div page-model="@Model.PagingInfo" 
     page-action="Index" 
     page-classes-enabled="true" 
     page-class="btn" 
     page-class-normal="btn-outline-dark" 
     page-class-selected="btn-primary" 
     page-url-category="@Model.Category"
     class="btn-group pull-right m">
</div>